.post_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(30px, auto);
  justify-content: center;
  align-items: center;
}

/* For small laptops and higher sizes */
@media screen and (min-width: 960px) {
  .post_list {
    grid-column: 1/2;
    grid-row: 2/5;
  }

  .post_list.favorite {
    grid-row: 2;
  }
}
