.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border-right: 2px solid #333;
}

/* For tablets and higher sizes */
@media screen and (min-width: 620px) {
  .wrapper {
    grid-template-columns: 200px auto;
  }
}

/* For small laptops and higher sizes */
@media screen and (min-width: 960px) {
  .wrapper {
    grid-template-columns: 300px auto;
  }
}
